#main-navbar {
	background-color: blue;
	overflow: hidden;
	float: left;
	width: 100%;
	position: relative;
	list-style-type: none;
	margin: auto;
	padding: 0;
}

#navbar-container{
	left: 50%;
	float: left;
	right: 50%;
	color: #fff;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
}

#navbar-container li{
	display: inline;
}

#navbar-container a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

#navbar-container a:hover{
	text-decoration: underline overline;
	background-color: #000;
}


#sidebar {
	position: fixed;
	right: 0%;
	background-color: red;
	height: 100%;
	width:20%;
	list-style-type: none;

}
#sidebar-container{
	text-align: center;
	padding:0;
	display: block;
	padding: 15px 0;
	color:#fff;
	text-decoration: none;
}

#sidebar-container a{
	text-decoration: none;
	color:#fff;
	padding: 15px;
}

ul{
	list-style-type: none;
}